* {
	margin: 0;
	padding: 0;
}

:root {
	--bgColor0: rgb(255, 255, 255);
	--bgColor1: rgb(93, 215, 215);
	--bgColor2: rgb(0, 160, 160);
	--bgColor3: rgb(0, 108, 109);
	--bgColor4: rgb(160, 0, 0);
	--bgColor5: rgb(0, 0, 0);

	--color: white;
	--colorDark: black;

	--corner1: 5px;
	--corner2: 10px;
	--corner3: 15px;
	--corner4: 20px;

	--gap1: 5px;
	--gap2: 10px;

	--padding1: 10px;
	--padding2: 20px;
	--padding3: 30px;

	--margin1: 10px;
	--margin2: 30px;
	--margin3: 50px;
}

body {
	margin-top: var(--margin3);
}

h1 {
	margin-bottom: var(--margin2);
}

#root {
	background-color: var(--bgColor0);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
